@model FlatManagement.Models.AgendaVM

@{
    ViewData["Title"] = "Create";
}

<style type="text/css">
    @@media print {
        .noPrint {
            display: none;
        }
    }

    h1 {
        color: #f6f6;
    }
</style>

<h4>Create Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Attachment)


            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="AgendaName" class="control-label"></label>
                    @Html.TextBoxFor(m => m.AgendaName, new { @maxlength = "45", @placeholder = "Meeting Title", @class = " cAgendaName right form-control" })
                    <span asp-validation-for="AgendaName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="AgendaDate" class="control-label"></label>
                    <input asp-for="AgendaDate" id="datepicker" type="text" class="form-control" />
                    <span asp-validation-for="AgendaDate" class="text-danger"></span>
                </div>
            </div>

            @*<div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="AgendaDetails" class="control-label"></label>
                    @Html.TextAreaFor(m => m.AgendaDetails, new { placeholder = "Please add details here", rows = "3", cols = "45" })
                    <span asp-validation-for="AgendaDetails" class="text-danger"></span>
                </div>
            </div>*@

            <div class="row">
                <div class="col-md-12">
                    <div class="editor-label">
                        <label for="AgendaDetails">Agenda Details</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.AgendaDetails, new { @placeholder = "Please add details here", rows = "3", cols = "45", @class = "cExporterAddress form-control" })
                    </div>
                </div>
            </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="LocationStr" class="control-label"></label>
                        @Html.TextBoxFor(m => m.LocationStr, new { @maxlength = "45", @placeholder = "Location", @class = " cLocation right form-control" })
                        <span asp-validation-for="LocationStr" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12" style="vertical-align:bottom">
                        @Html.LabelFor(model => model.Attachment, new { @class = "attachment" })
                        <input type="file" name="FileAttachment" id="FileAttachment">
                        <div id="fileContent" style="display:block;" class="form-group col-md-12">
                            @if (Model.Attachment != null && Model.Attachment != "")
                            {
                                <div class="col-md-6" id="fileExist">
                                    @Html.LabelFor(model => model.Attachment, new { @class = "FileUpload" })
                                    @Html.HiddenFor(model => model.Attachment);
                                    <div class="col-md-6">
                                        <a class="" target="_blank" href="~/Files/@Model.Attachment">
                                            <img class="attachment" src="~/assets/icons/files.png" width="30" alt="File" title="File" />
                                        </a>

                                        <span onclick="FileDeleteThis(this);" data-id="@Model.Id" data-table="501" data-field="Attachment" data-url="@Model.Attachment">
                                            <img class="attachment" src="~/assets/img/document_delete.png" width="30" alt="File" title="File" />
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-12">

                                    @*File Preview works only for PDF files*@

                                    @*type="application/pdf"*@
                                    @*<embed src="~/Files/@Model.Attachment#toolbar=0&navpanes=0&scrollbar=0"
                                frameBorder="0"
                                scrolling="auto"
                                height="100%"
                                width="100%"></embed>*@



                                    @*<iframe src="~/Files/@Model.Attachment#toolbar=0&navpanes=0&scrollbar=0"
                                frameBorder="0"
                                scrolling="auto"
                                height="100%"
                                width="100%"></iframe>*@
                                </div>


                                try
                                {
                                    @*<iframe src="~/Files/@Model.Attachment"
                                frameBorder="0"
                                scrolling="auto"
                                height="400px"
                                width="400px"></iframe>*@

                                    @*<embed src="~/Files/@Model.Attachment" width="800px" height="2100px" />*@

                                }
                                catch
                                {
                                    <span>File exists but Not Found...</span>
                                }

                                @*<iframe src="~/Files/@Model.Attachment" frameBorder="1" style="width:150px; height:150px; border:2px solid red;" frameborder="0" scrolling="no"></iframe>*@
                                @* <a class="" target="_blank" href="~/Files/@Model.Attachment">
                            Download
                            <img class="attachment" src="~/assets/icons/files.png" width="30" alt="File" title="File" />
                                                        </a>*@

                                @*<iframe src="~/Files/@Model.Attachment"
                            frameBorder="0"
                            scrolling="auto"
                            height="100%"
                            width="100%"></iframe>*@





                            }
                            else
                            {

                            }
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                    </div>
                    <div class="form-group col-md-4">
                        <input type="button" onclick="window.print();" value="Print" class="btn btn-primary btn-block" />
                    </div>
                    <div class="form-group col-md-4">
                        <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Back to List</a>
                    </div>
                </div>





        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>


    <script>

        function FileDeleteThis(sender) {
            if (confirm("Do you want to delete the file!!")) {
                var x = document.getElementById('fileExist');
                var url = "/Agenda/FileDelete?filepath=" + $(sender).attr('data-url') + "&table=" + $(sender).attr('data-table') + "&field=" + $(sender).attr('data-field') + "&id=" + $(sender).attr('data-id');
                $.ajax({
                    type: "GET",
                    url: url,
                    error: function (xhr, status, error) {
                        //"test"
                    },
                    success: function (response) {
                        document.getElementById('fileContent').style.display = "none";
                    },
                    failure: function (response) {
                        document.getElementById('fileContent').style.display = "none";
                    },
                    error: function (response) {
                        document.getElementById('fileContent').style.display = "none";
                    }
                });
            } else {

            }
        }

    </script>

}


<!-- <embed src="JubayerAhmed.docx" width="800px" height="2100px" /> -->
<!--
<iframe src="Android_Roadmap.pdf" style="width:150px; height:150px;" frameborder="0" scrolling="no"></iframe>


<embed
    src="Android_Roadmap.pdf"
    type="application/pdf"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
></embed>



<iframe
    src="Android_Roadmap.pdf"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
></iframe>
<frame scrolling="auto|yes|no">
-->
