@model FlatManagement.Models.EmployeeVM
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
}
<style>
    img {
        max-width: 180px;
    }

    input[type=file] {
        padding: 10px;
        /*background: #2d2d2d;*/
    }
</style>

<h4>Employee Form</h4>
<hr />
<form asp-controller="Employee" asp-action="AddOrEdit" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.Id)
            @*<input type="hidden" asp-for="Id" />*@
            @*<input type="hidden" asp-for="EntryDate" value="@DateTime.Now" />
            <input type="hidden" asp-for="EntryBy" id="EntryBy" name="EntryBy" value="@User.Identity.Name" />*@
            @Html.HiddenFor(m => m.PicLoc)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row">
                <div class="form-group col-md-6">

                    @if (@Model.PicLoc != null)
                    {
                        @Html.HiddenFor(model => model.PicLoc);
                        <img id="blah" src="~/images/@Model.PicLoc" alt="@Model.FirstName" asp-append-version="true" height="150" width="150" class="img-thumbnail">
                    }
                    else if (@Model.Id > 0)
                    {
                        <img id="blah" src="~/images/@Model.PicLoc" alt="Image" asp-append-version="true" height="150" width="150" class="img-thumbnail" />
                    }
                    else
                    {
                        <img id="blah" src="~/assets/icons/no_image.png" alt="Image" asp-append-version="true" height="150" width="150" class="img-thumbnail"/>
                        @*<img src="~/images/no_image.png" alt="Image">*@
                    }
                    <br />
                    @*<input asp-for="ImageFile" onchange="readURL(this);" accept="image/*" class="form-control" />*@
                    <input type="file" name="uploadFile" onchange="readURL(this);" accept="image/*" class="form-control" />




                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FirstName" class="control-label"></label><span>*</span>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName" class="control-label"></label><span>*</span>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Designation" class="control-label"></label>
                    <input asp-for="Designation" class="form-control" />
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Mobile" class="control-label"></label><span>*</span>
                    @*<input asp-for="Mobile" class="form-control" />*@
                    @*@Html.TextBoxFor(m => m.Mobile, new { placeholder = "Mobile Number", @class = "form-input", @id = "MobileNumId" })*@
                    <input asp-for="Mobile" class="form-control" onkeypress='javascript: return isNumber(event)' autocomplete='off' />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Type" class="control-label"></label><span>*</span>
                    @Html.DropDownListFor(m => m.Type, new SelectList(ViewBag.empTYpe, "Value", "Text"), "Select Employee Type", new { @class = "form-control" })
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="EmpNID" class="control-label"></label><span>*</span>
                    <input asp-for="EmpNID" class="form-control" onkeypress='javascript: return isNumber(event)' autocomplete='off' />
                    <span asp-validation-for="EmpNID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Status" class="control-label"></label>
                    @Html.RadioButtonFor(m => m.Status, "Active") Active
                    @Html.RadioButtonFor(m => m.Status, "In-Active") In-Active
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="JoiningDate" class="control-label"></label><span>*</span>
                    <input asp-for="JoiningDate" placeholder="select date" id="JoiningDate" type="text" class="form-control" /> @*value="@DateTime.Now.ToString("MM-dd-yyyy")"*@
                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Back to List</a>
                </div>
            </div>
        </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            /* format: 'dd/mm/yyyy'*/
            $("#JoiningDate").datepicker();
        });
    </script>



    <script>
        /*image preview*/
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>


    <script>
        $("#MobileNumId").change(function () {
            var mobileNumVar = document.getElementById("MobileNumId").value;
       
            var phoneno = /^\+?([0-9]{2})\)?[-. ]?([0-9]{4})[-. ]?([0-9]{4})$/;
            if ((mobileNumVar.value.match(phoneno))
                                                    {
                return true;
            }
            else {
                alert("Please enter valid mobile number.");
                return false;
            }
        }
    </script>

    <script>
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;

            return true;
        }
    </script>
}
