@model IEnumerable<FlatManagement.Models.TransactionVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Transaction List</h1>
<hr />

<table class="table table-hover" id="flatdatatable">
    <thead>
        <tr style="background-color: #f7ecfd">
            <th>
                Sl.
            </th>
            <th>
                @Html.Label("Type")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionStep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Date)
            </th>*@
            <th>
                @Html.Label("Flat")
                @*@Html.DisplayNameFor(model => model.FlatNo)*@
            </th>
            <th>Payment</th>
            <th>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Supervisor")))
                {
                    <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa fa-plus-square"></i>Add New</a>
                }
                else if (SignInManager.IsSignedIn(User) && User.IsInRole("FlatOwner"))
                {
                    @*<a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa fa-plus-square"></i>Add New</a>*@
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @{rowNo++;} @rowNo
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)<span>(</span>
                @if (item.TransactionCategory == "1")
                {
                    @Html.Label("Com. Fund")
                }
                else if(item.TransactionCategory == "2")
                {
                    @Html.Label("Individual")
                }
                <span>)</span>
            </td>
            <td>

                @if (item.TransactionStep == "Submitted")
                {
                    @Html.Label("Submitted")
                }
                else if (item.TransactionStep == "COM")
                {
                    @Html.Label("Approved By Committee")
                }
                else if (item.TransactionStep == "TRE")
                {
                    @Html.Label("Approved By Treasurer")
                }
                @*@Html.DisplayFor(modelItem => item.TransactionStep)*@
            </td>
            <td>

                @if (item.TransactionStep == "Submitted")
                {
                    @Html.Label("Committee Approval")
                }
                else if (item.TransactionStep == "COM")
                {
                    @Html.Label("Treasure Approval")
                }
                else if (item.TransactionStep == "TRE")
                {
                    @Html.Label("Settlement")
                }
                @*@Html.DisplayFor(modelItem => item.TransactionStep)*@
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>*@
            <td>
                @if (item.FlatNo != null)
                {
                    @Html.DisplayFor(modelItem => item.FlatNo);
                }
                else
                {
                    <span>-</span>
                }
            </td>

            <td>

                @if (item.Claim == 0)
                {
                    @Html.Label("Initial")
                }
                else if (item.Claim == 1)
                {
                    @Html.Label("Claim Now")
                }
                else if (item.Claim == 2)
                {
                    @Html.Label("Claimed")
                }
                else if (item.Claim == 3)
                {
                    @Html.Label("Paid")
                }


                @*@if (item.ReceiptFile != null)
        {
            @Html.ActionLink("Download", "DownloadFile", new { fileName = @item.ReceiptFile });
        }
        else
        {
            <span>No file!!</span>
        }*@

            </td>
            <td>

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Supervisor"))
                {
                    <a href="/Transaction/AddOrEdit?id=@item.Id&singleFlatNo=@item.FlatNo"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    @*<a asp-action="AddOrEdit" asp-route-id="@item.Id" asp-><i class="fa fa-eye" aria-hidden="true"></i></a>*@ <span>|</span> @*<i class="fas fa-marker fa-lg">*@
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fas fa-trash-alt fa-lg"></i></a>
                }
                else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Treasurer")))
                {
                    if (item.Claim != 4)
                    {
                        <a class="btn btn-primary" asp-action="Approve" asp-route-id="@item.Id">C.Fund</a>
                        if (item.Claim > 1)
                        {
                            <span>|</span>
                            <a class="btn btn-primary" asp-action="ApproveSplit" asp-route-id="@item.Id">Split</a>
                        }
                    }

                }
                else if (SignInManager.IsSignedIn(User) && User.IsInRole("Committee"))
                {
                    <a class="btn btn-primary" asp-action="Approve" asp-route-id="@item.Id">Approve</a>
                }
                else if (SignInManager.IsSignedIn(User) && (User.IsInRole("FlatOwner")) && (item.Claim == 1))
                {
                    <a asp-action="IndividualClaim" asp-route-id="@item.Id"><i class="fas fa-tools"></i></a>
                }
            </td>
        </tr>
        }


    </tbody>
</table>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#flatdatatable").DataTable();
        }
        )
    </script>
}