@model IEnumerable<FlatManagement.Models.MaintenanceVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Maintenance List</h1>
<hr />

<table class="table table-hover" id="flatdatatable">
    <thead>
        <tr style="background-color: #f7ecfd">
            <th>
                Sl.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maintenance_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceDate)
            </th>
            <th>

                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa fa-plus-square"></i>Maintenance</a>

            </th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @{rowNo++;} @rowNo
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maintenance_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceDate)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.Id"><i class="fas fa-marker fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fas fa-trash-alt fa-lg"></i></a>|
                <a class="btn btn-info" href="/Maintenance/MaintenanceNotification?id=@item.Id&category=@item.category&amount=@item.amount&Date=@item.MaintenanceDate"><i class="far fa-comment-alt"></i></a>
            </td>
        </tr>
    }


        </tbody>
    </table>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#flatdatatable").DataTable();
        }
        )
    </script>
}