@model FlatManagement.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "User Register";
}

<script>
    $(document).ready(function () {
        // Get the output text
        var textFlatOwner = document.getElementById("textFlatOwner");
        var shwFlats = document.getElementById("showFlatNo");
        //var shwOwnerFlats = document.getElementById("showOwnerFlatNo");
        $('#rdoUser').click(function () {
            
            if ($(this).is(':checked')) {
                textFlatOwner.style.display = "none";
                shwFlats.style.display = "block";
            } else {
                /*shwOwnerFlats.style.display = "block";*/
            }
        });

        $('#rdoTenant').click(function () {
            if ($(this).is(':checked')) {
                textFlatOwner.style.display = "block";
                shwFlats.style.display = "none"
            } else {
               /* shwOwnerFlats.style.display = "block";*/
            }
        });
    });

</script>
<h1>Create User</h1>
<div class="row">
    <div class="col-md-12">
        <form method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="DOB"></label>
                <input asp-for="DOB" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("MM-dd-yyyy")" />
            </div>

            <div class="form-group">
                <label asp-for="NID"></label>
                <input asp-for="NID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ETIN"></label>
                <input asp-for="ETIN" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PassportNo"></label>
                <input asp-for="PassportNo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Per_Address"></label>
                <input asp-for="Per_Address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="pre_Address"></label>
                <input asp-for="pre_Address" class="form-control" />
            </div>
            <div class="form-group" id="showFlatNo">
                @*<label asp-for="Flat_No"></label>*@
                @Html.LabelFor(x => x.Flat_No, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("Flat_No", new SelectList(ViewBag.FlatList, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "Flat_No" })
                @Html.ValidationMessageFor(x => x.Flat_No, "", new { @class = "text-danger" })
            </div>

            @*<div class="form-group" id="showOwnerFlatNo">
                @Html.TextBoxFor(x => x.Flat_No, new { @placeholder = "FlatNo", @class = "cCommision  NumberCheckAddDetail right form-control", @readonly = "readonly" })
            </div>*@


            <div class="form-group">
                <label asp-for="Tenant"></label>
                <input type="radio" name="TenantValue" id="rdoUser" checked="checked" value="User">Flat Owner
                <input type="radio" name="TenantValue" id="rdoTenant" value="Tenant">Tenant
                <p id="textFlatOwner" style="display:none">
                    <label asp-for="FlatOwner"></label>
                    @Html.DropDownList("FlatOwner", (IEnumerable<SelectListItem>)ViewBag.FlatOwner as SelectList)
                </p>
                <br />
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}
