@model List<SelectListItem>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Invitation (Email/SMS)";
}


<script type="text/javascript">
        <!--
    // Form validation code will come here.
    function validate() {

        if (document.myForm.txtMsgBody.value == "") {
            alert("Please write details!");
            document.myForm.Name.focus();
            return false;
        }
    }
</script>

<h4>Notification</h4>
<hr />
<h1>@ViewBag.Message</h1>
<div class="row">

    <form method="post" name="myForm" asp-controller="Message" asp-action="Index" onsubmit="return(validate());">

        <div class="form-row">
            <div class="form-group  col-md-2">
                @Html.Label("Message")
            </div>
            <div class="form-group  col-md-10">
                <textarea name="txtMsgBody" cols="60" rows="3" placeholder="Message details..."></textarea>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group  col-md-2">
                @Html.Label("Message To")
            </div>
            <div class="form-group  col-md-2">
                <input type="checkbox" name="selectThemAll" /> Select All<br />
            </div>
            <div class="form-group  col-md-8">
                &nbsp;
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-12">

                <table class="table table-hover" id="flatdatatable">
                    <thead>
                        <tr style="background-color: #f7ecfd">
                            <th>
                                Select
                            </th>
                            <th>
                                @Html.Label("Name")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int rowNo = 0; }
                        @foreach (var flatOwner in Model)
                        {
                            <tr>
                                <td>
                                    @{rowNo++;} @rowNo <span>.</span> <input id="@flatOwner.Value" type="checkbox" name="flatOwnerList" value="@flatOwner.Value" checked="@flatOwner.Selected" />
                                </td>
                                <td>
                                    <label for="@flatOwner.Value">@flatOwner.Text</label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-row no-print">

            <div class="form-group col-md-4">
                <input type="submit" value="Email" id="btnEmail" name="Submit" class="btn btn-primary btn-block" />
            </div>
            <div class="form-group col-md-4">
                <input type="submit" value="SMS" id="btnSMS" name="Submit" class="btn btn-primary btn-block" />
            </div>

            <div class="form-group col-md-4">
                <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Back to List</a>
            </div>
        </div>
    </form>
</div>
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
                </script>
            }


            @if (TempData["Message"] != null)
            {
                <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
                </script>
            }



            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


                <script>
                    $(function () {
                        jQuery("[name=selectThemAll]").click(function (source) {
                            checkboxes = jQuery("[name=flatOwnerList]");
                            for (var i in checkboxes) {
                                checkboxes[i].checked = source.target.checked;
                            }
                        });
                    })
                </script>


            }
