@model IEnumerable<FlatManagement.Models.ResolutionVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Resolution List</h1>
<hr />

<table class="table table-hover" id="flatdatatable">
    <thead>
        <tr style="background-color: #f7ecfd">
            <th>
                Sl.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgendaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa fa-plus-square"></i>Create Resolution</a>
           </th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @{rowNo++;} @rowNo
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgendaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a> |  @*<i class="fas fa-marker fa-lg">*@
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fas fa-trash-alt fa-lg"></i></a> |
                <a class="btn btn-info" href="/Resolution/SendMessages?Id=@item.Id"><i class="far fa-comment-alt"></i></a>
            </td>
        </tr>
        }


    </tbody>
</table>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#flatdatatable").DataTable();
        }
        )
    </script>
}